# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# database
/prisma/*.db
/prisma/*.db-journal
dev.db
dev.db-journal

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
*.log
.eslintcache

# local env files
.env
.env*.local
.env.test

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma
/generated